<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.github.dawncraft.desktopaddons">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />

    <uses-feature android:glEsVersion="0x00020000" android:required="false" />
    <uses-feature android:name="android.software.live_wallpaper" />

    <application
        android:name=".DAApplication"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        android:supportsRtl="true"
        android:allowBackup="false"
        android:launchMode="singleInstance"
        android:excludeFromRecents="true"
        android:extractNativeLibs="false">
        <!-- NOTE 最小SDK版本高于23时默认不压缩库, 详见 https://blog.csdn.net/xiaxl/article/details/115253074 -->

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/activity_settings"
            android:launchMode="singleTask"
            android:exported="true">
            <!-- 对于Activity的启动模式可以看看这个视频: https://www.bilibili.com/video/BV1CA41177Se -->
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
            </intent-filter>
        </activity>
        <activity-alias
            android:name=".ui.MainActivityAlias"
            android:label="@string/app_name"
            android:targetActivity=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity
            android:name=".ui.NCPAppWidgetConfigActivity"
            android:label="@string/ncp_app_widget_config"
            android:theme="@style/AppTheme.Dialog"
            android:excludeFromRecents="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SentenceAppWidgetConfigActivity"
            android:label="@string/sentence_app_widget_config"
            android:theme="@style/AppTheme.Dialog"
            android:excludeFromRecents="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.DaemonService"
            android:process=":daemon"
            android:exported="false" />
        <service
            android:name=".wallpaper.DawnLiveWallpaper"
            android:label="@string/wallpaper_name"
            android:permission="android.permission.BIND_WALLPAPER"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/livewallpaper" />
        </service>
        <service
            android:name=".quicksetting.SwitchFifthGTile"
            android:label="@string/switch_5g"
            android:icon="@drawable/ic_5g"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".quicksetting.DevelopmentTiles$ShowLayout"
            android:label="@string/show_layout_border"
            android:icon="@drawable/ic_border_all"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <receiver
            android:name=".appwidget.SentenceAppWidget"
            android:label="@string/sentence_app_widget_name"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="desktopaddons.intent.action.REFRESH" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_sentence" />
        </receiver>
        <receiver
            android:name=".appwidget.NCPAppWidget"
            android:label="@string/ncp_app_widget_name"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="desktopaddons.intent.action.DETAILS" />
                <action android:name="desktopaddons.intent.action.REFRESH" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_ncp_info" />
        </receiver>
        <receiver
            android:name=".broadcast.PackageBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".broadcast.ZenModeBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="desktopaddons.intent.action.SWITCH_ZEN_MODE" />
            </intent-filter>
        </receiver>

        <provider
            android:name="rikka.shizuku.ShizukuProvider"
            android:authorities="${applicationId}.shizuku"
            android:multiprocess="false"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />

    </application>

    <queries>
        <package android:name="com.tencent.mobileqq" />
    </queries>

</manifest>
